<div class="view-body">
    
    <h3>Add a Recipe</h3>
    <div>
        <form class="form-horizontal">
            <div class="form-group">

                <div class="col-md-5 col-xs-4 col-sm-5">
                    <input type="text" ng-model="recipeName" class="form-control" placeholder="Recipe Name" />
                </div>

                <div class="col-md-5 col-xs-4 col-sm-5">
                    <input type="text" ng-model="recipeDescription" class="form-control" placeholder="Description" />
                </div>

           
            </div>
    
            <div>
                <h4>Flavors <small><a href="" ng-click="addNewFlavor()">(add new flavor)</a></small></h4>
                <div ng-repeat="op in selects.m">
                    <div>
                        <select ng-model="op.FlavorBrandId" name="select-{{$index}}" ng-options="o.FlavorBrandId as o.FlavorBrandName for o in flavors | orderBy: 'FlavorBrandName'" 
                            ng-change="updateFlavorDropdown(op)"></select>
                        <select ng-model="op.FlavorId" ng-options="o.Id as o.Name for o in op.flavors"></select>
                        <input type="text" ng-model="op.amount" maxlength="2" style="width: 25px;" />%

                        <a ng-click="remove(op)">Remove</a>
                    </div>
                </div>
        
                <div style="margin-top: 5px;">
                    <button ng-click="add()" >Add Flavor</button>
                </div>
            </div>
    
            <div class="col-md-2 col-xs-4 col-sm-2" style="margin-top: 10px;">
                <button class="btn btn-primary" data-ng-click="addRecipe()" ng-disabled="buttonDisabled">Add Recipe</button>
            </div>
        </form>
    </div>
</div>